body {
    background-color: aquamarine;
    font-family: Arial;
    text-align: Center;

}
ul {
    list-style-position: inside;

}
.card{
    background-color: white;
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
}